:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(7, 5, 5, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #151735;
  text-decoration: inherit;
}
a:hover {
  color: #292c6c;
}
h4 {
  font-weight: 500;
  color: #151735;
  text-decoration: inherit;
}
h4:hover {
  color: #2c987a;
}
h5 {
  font-weight: 500;
  color: #0e156d;
  text-decoration: inherit;
}
h5:hover {
  color: #131ee7;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background-color: #d3fac2;
  padding: 20px 4px;
  border-radius: 3px;
  color: #060a36;
  transition: transform 0.8s ease-in-out; 
}


h1:hover {
  transform: scale(1.02); 
}

button {
  border-radius: 8px;
  border: 1px solid rgb(182, 182, 231);
  padding: 0.6em 1.2em;
  margin: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f5e8e8;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4b54fc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media screen and (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  :root {
    font-size: 14px; /* Reducir tamaño de fuente en pantallas pequeñas */
  }
}